:root {
    --bg-color: #121212;
    --card-bg: #1E1E1E;
    --text-primary: #F5F5F5;
    --text-secondary: #A0A0A0;
    --accent-color: #FF9F1C;
    --accent-hover: #e08e19;

    --font-title: 'Space Grotesk', sans-serif;
    --font-body: 'Inter', sans-serif;

    --container-width: 1100px;
    --border-radius: 12px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    color: var(--text-primary);
    font-family: var(--font-body);
    line-height: 1.6;
}